@import "~bootstrap/less/variables.less";
@import "~bootstrap/less/mixins.less";
@import "~bootstrap/less/glyphicons.less";

:global {
    @keyframes spin {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(359deg);
        }
    }
}

.glyphicon.spin {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
