@import "styles/variables.css";

.block-text-field {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.block-text-field label {
    margin-bottom: 10px;
}

.block-text-field textarea {
    width: 100%;
    min-height: 110px;
    box-sizing: border-box;
}

.block-text-field.error textarea {
    border-color: var(--errorRed);
}

.error-message {
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    color: var(--errorRed);
    margin-top: 8px;
}
