@import "styles/variables.css";

.radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.group-label {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.group-option {
    margin: 10px 0 0 0;
}

.error-message {
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    color: red;
    margin-top: 8px;
}
