.bodycopy {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    margin: 0 0 20px 0;
    text-decoration: none;
}

@media only screen and (min-width: 1024px) {
    .bodycopy {
        line-height: 1.5;
        font-size: 16px;
    }
}
