:root {
    --radioSize: 22px;
    --dotSize: 8px;
}

.radio-input {
    height: var(--radioSize);
    position: relative;
    width: var(--radioSize);
    box-sizing: border-box;
}

.input {
    opacity: 0;
    position: absolute;
}

.outer-circle {
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 50%;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
    box-sizing: border-box;
}

.inner-circle {
    width: var(--dotSize);
    height: var(--dotSize);
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.input:checked ~ .inner-circle {
    opacity: 1;
}

.radio-input:hover .outer-circle,
.input:checked ~ .outer-circle {
    border-color: blue;
}

/* apply focus outline to outer circle */
.input:focus + .outer-circle {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
}
