@import "~bootstrap/less/variables.less";
@import "~bootstrap/less/mixins.less";

@import "~bootstrap/less/navs.less";
// @import "navbar.less";

// Add custom styles here as overrides
// Or remove the imports for something fully custom.

.nav {
    background: red;
    height: 60px;
    display: block;
    border: 0;
}

.back-button {
    color: white;
}

.back-button:focus,
.back-button:active,
.back-button:hover {
    background: transparent !important;
    color: white;
}
