@import "styles/variables.css";

.select-field {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.select-field label {
    margin-bottom: 10px;
}

.select {
    width: 100%;
    box-sizing: border-box;
}

.error-message {
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    color: var(--errorRed);
    margin-top: 8px;
}

@media only screen and (min-width: 768px) {
    .select-field {
        display: inline-block;
        width: 71%;
    }
}

@media only screen and (min-width: 1024px) {
    .select-field {
        width: 71%;
    }
}

@media only screen and (min-width: 1440px) {
    .select-field {
        width: 77%;
    }
}
