.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .75);
    color: white;
}

.bg.visible {
    display: flex;
}
