.footer {
    background: lightgray;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 30px 0 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 165px;
    box-sizing: border-box;
}

.footerContentContainer {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: left;
    display: block;
}

.logoContainer {
    display: none;
}

.footerBottomLinks {
    position: relative;
    width: 100%;
    max-width: 1280px;
    text-align: left;
    margin: 0 auto;
    overflow: hidden;
}

.copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: gray;
    float: left;
    margin: 15px 0 30px 15px;
}

@media only screen and (min-width: 425px) {
    .footer {
        padding: 30px 0px;
    }
}

@media only screen and (min-width: 768px) {
    .footerContentContainer {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        text-align: left;
        display: flex;
        justify-content: center;
    }

    .footerBottomLinks {
        margin: 20px auto 0 auto;
    }

    .copyright {
        margin: 30px 0 15px;
    }
}

@media only screen and (min-width: 1024px) {
    .logoContainer {
        display: block;
        flex-basis: 16.6667%;
        flex-grow: 1;
        text-align: center;
    }

    .logoContainer svg {
        max-width: 170px;
    }
}
