.link {
    text-decoration: none;
    border-bottom: 1px solid green;
    font-size: 14px;
    line-height: 1.7;
    color: black;
}

@media only screen and (min-width: 1024px) {
    .link {
        font-size: 16px;
    }
}
