.select {
    color: grey;
    display: inline-block;
    position: relative;
}

.select select {
    border: solid 1px lightgray;
    appearance: none;
    background-color: white;
    border-radius: 2px;
    color: #555;
    color: grey;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 9px 30px 9px 15px;
    width: 100%;
}

.error select {
    border-color: red;
}

.arrow {
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

/* Undo the Firefox inner focus ring */
/* From: http://wtfforms.com/ */
.select select:focus:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
