@import "styles/variables.css";

.text-field {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.text-field label {
    margin-bottom: 10px;
}

.text-field input {
    width: 100%;
    box-sizing: border-box;
}

.text-field.error input {
    border-color: var(--errorRed);
}

.error-message {
    display: table;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    color: var(--errorRed);
    margin-top: 8px;
}

@media only screen and (min-width: 768px) {
    .text-field {
        display: inline-block;
        width: 71%;
    }
}

@media only screen and (min-width: 1024px) {
    .text-field {
        width: 71%;
    }
}

@media only screen and (min-width: 1440px) {
    .text-field {
        width: 77%;
    }
}
