:root {
    --squareSize: 22px;
    --dotSize: 8px;
}

.checkbox-input {
    height: var(--squareSize);
    position: relative;
    width: var(--squareSize);
    box-sizing: border-box;
}

.input {
    opacity: 0;
}

.square {
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 2px;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
    box-sizing: border-box;
}

.checkmark {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.input:checked ~ .checkmark {
    opacity: 1;
}

.checkbox-input:hover .square,
.input:checked ~ .square {
    border-color: var(--lightBrown);
}

/* apply focus outline to outer circle */
.input:focus + .square {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
}
